.image {
  position: relative;
  width: 400px;
}

.image__img {
  display: block;
  width: 250px;
  height: 200px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 200px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__description {
  font-size: 1.25em;
  margin-top: 7.5em;
  margin-right: 3.5em;
}
